<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragments_layout_admin}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/style/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <h2 class="text-center mb-4">Trang chủ thứ hạng</h2>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-2">
            <a href="/admin/psg/thu-hang/view-add" class="btn waves-effect waves-light btn-rounded btn-primary">Thêm thứ
                hạng</a>
        </div>
        <div class="col-2">
            <a href="/admin/psg/thu-hang/pageInActive/0" class="btn waves-effect waves-light btn-rounded btn-primary">Thứ
                hạng đã xóa</a>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-3">Danh Sách</h4>
            <div th:if="${errorMessage}" class="error-message">
                <span th:text="${errorMessage}" style="color: red"></span>
            </div>
            <div class="tab-content">
                <div class="tab-pane show active" id="home">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Mã</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Tiền tối thiểu</th>
                            <th scope="col">Đơn hàng tối thiểu</th>
                            <th scope="col">Trạng Thái</th>
                            <th scope="col">Hành Động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="th, index:${listThuHangActive}">
                            <td th:text="${index.count} + ${currentPage * size - size} +4"></td>
                            <td th:text="${th.ma}"></td>
                            <td th:text="${th.ten}"></td>
                            <td th:text="${th.soTienKhachChiToiThieu}"></td>
                            <td th:text="${th.soLuongDonHangToiThieu}"></td>
                            <td th:text="${th.trangThai.moTa}" style="color: #00ff22"></td>
                            <td>
                      <span>
                          <a th:href="@{/admin/psg/thu-hang/view-update/{id}(id=${th.id})}"
                             class="btn waves-effect waves-light btn-rounded btn-warning">
                              Sửa
                          </a>
                            <form th:action="@{/admin/psg/thu-hang/delete/{id}(id=${th.id})}" method="post"
                                  style="display: inline;">
                                <a th:href="@{/admin/psg/thu-hang/delete/{id}(id=${th.id})}">
                                    <button type="submit"
                                            class="btn waves-effect waves-light btn-rounded btn-danger"
                                            th:hidden="${th.ten == 'Thành viên'}"
                                            onclick="return confirm('Bạn có muốn xóa không')">Xóa
                                    </button>
                                </a>
                            </form>
                      </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" th:if="${currentPage != 0}">
                                <a class="page-link" th:href="@{'/admin/psg/thu-hang/pageActive/'+${currentPage - 1}}">Previous</a>
                            </li>
                            <li class="page-item" th:if="${currentPage > 1}">
                                <a class="page-link" th:href="@{'/admin/psg/thu-hang/pageActive/0'}">1</a>
                            </li>
                            <li class="page-item" th:if="${currentPage > 1}">
                                <span class="page-link">...</span>
                            </li>
                            <li class="page-item active">
                                <span class="page-link" th:text="${currentPage + 1}"></span>
                            </li>
                            <li class="page-item" th:if="${currentPage + 2 < totalPages}">
                                <span class="page-link">...</span>
                            </li>
                            <li class="page-item" th:if="${currentPage + 1 != totalPages}">
                                <a class="page-link" th:href="@{'/admin/psg/thu-hang/pageActive/'+${totalPages - 1}}"><b
                                        th:text="${totalPages}"></b></a>
                            </li>
                            <li class="page-item" th:if="${currentPage + 1 != totalPages}">
                                <a class="page-link" th:href="@{'/admin/psg/thu-hang/pageActive/'+${currentPage + 1}}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<script
        src="https://kit.fontawesome.com/1214a1c935.js"
        crossorigin="anonymous"
></script>
<script src="/style/style.js"></script>
</body>
</html>