<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragments_layout_admin}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <h2 class="text-center mb-4">Thêm Thứ hạng</h2>
    <form action="/admin/psg/thu-hang/add"
          th:object="${thuHang}"
          method="post"
          id="myForm"
          onsubmit="return confirm('Bạn có thêm không?')">
    <div class="card card-custom">
            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="row">
                    <div th:if="${errorMessage}" class="error-message">
                        <span th:text="${errorMessage}" style="color: red"></span>
                    </div>
                    <br>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="form-group mb-3">
                            <label class="form-label" style="margin-left: 10px;font-size: 14px">Tên thứ hạng</label>
                            <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                   type="text" placeholder="Nhập tên thứ hạng" th:field="*{ten}" style="height: 50px">
                            <span th:if="${#fields.hasErrors('ten')}" style="color: red; font-size: 13px"
                                  th:errors="*{ten}"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="form-group mb-3">
                            <label class="form-label" style="margin-left: 10px;font-size: 14px">Số tiền tối
                                thiểu</label>
                            <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                   type="text" placeholder="Nhập số tiền tối thiểu" th:field="*{soTienKhachChiToiThieu}"
                                   style="height: 50px">
                            <span th:if="${#fields.hasErrors('soTienKhachChiToiThieu')}"
                                  style="color: red; font-size: 13px" th:errors="*{soTienKhachChiToiThieu}"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="form-group mb-3">
                            <label class="form-label" style="margin-left: 10px;font-size: 14px">Số lượng đơn hàng tối
                                thiểu</label>
                            <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                   type="text" placeholder="Nhập số lượng tối thiểu"
                                   th:field="*{soLuongDonHangToiThieu}" style="height: 50px">
                            <span th:if="${#fields.hasErrors('soLuongDonHangToiThieu')}"
                                  style="color: red; font-size: 13px" th:errors="*{soLuongDonHangToiThieu}"></span>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="form-group mb-3 text-center">
            <a class="btn btn-rounded btn-primary" href="/admin/psg/thu-hang/hien-thi">Trở lại</a>&nbsp;&nbsp;
            <button class="btn btn-rounded btn-primary" id="myButtonTA" type="submit">Thêm</button>
        </div>
    </form>
</div>
</body>
</html>