<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragments_layout_admin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <style>
        .row {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        /* CSS to create rounded image with border */
        /* CSS to create rounded image with green border */
        .image-container {
            width: 200px;
            height: 200px;
            overflow: hidden;
            position: relative;
        }

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        /* CSS to style the custom file upload button */
        .custom-file-upload {
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            color: #fff;

            border-radius: 4px;
            transition: background-color 0.3s ease;
        }


    </style>
    <script>
        function chooseFile(fileInput) {
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image').attr('src', e.target.result);
                };
                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    </script>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="card">
    <div class="card-body">
        <h2 class="text-center mb-4">Sửa Khách Hàng</h2>
        <form action="/admin/psg/khach-hang/update" th:object="${khachHang}" method="post" enctype="multipart/form-data"
              onsubmit="return confirm('Bạn có sửa không?')">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group mb-3">
                                <input type="hidden" th:field="*{id}">
                                <input type="hidden" th:field="*{ma}">
                                <input type="hidden" th:field="*{matKhau}">
                                <input type="hidden" th:field="*{soLuongDonHangThanhCong}">
                                <input type="hidden" th:field="*{soTienDaChiTieu}">
                                <img th:src="@{${'../display?idAnh=' + khachHang.id}}" id="image" class="form-control mb-1"
                                     style="width: 250px; height: 150px;margin-left: 100px">
                                <input class="form-control custom-shadow custom-radius border-1 bg-white"
                                       type="file" name="idAnhSua" onchange="chooseFile(this)"
                                       style="height: 40px;width: 250px;margin-left: 100px">
                            </div>


                            <div class="form-group mb-3">
                                <label class="form-label" style="margin-left: 10px">Tên</label>
                                <input class="form-control custom-shadow custom-radius border-1 bg-white"
                                       type="text" placeholder="Nhập tên Khách Hàng" th:field="*{ten}"
                                       style="height: 50px">
                                <span th:if="${#fields.hasErrors('ten')}" style="color: red; font-size: 15px"
                                      th:errors="*{ten}"></span>
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control custom-shadow custom-radius border-0 bg-white"
                                       id="wardInput2" style="height: 50px" readonly th:field="*{diaChi}">
                            </div>

                            <button  type="button" class="btn btn-rounded btn-primary" data-bs-toggle="modal" data-bs-target="#modalDiaChi">
                                Cập Nhật Địa Chỉ
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="modalDiaChi" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Cập nhật địa chỉ</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="form-group mb-3">
                                            <div class="select-containe r d-flex">
                                                <select class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                                        style="height: 45px"
                                                        name="province" id="province">
                                                    <!-- Các options khác -->
                                                </select>

                                                <select class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                                        style="height: 45px"
                                                        name="district" id="district">
                                                    <option value="">Chọn quận</option>
                                                    <!-- Các options khác -->
                                                </select>

                                                <select class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                                        style="height: 45px"
                                                        name="ward" id="ward">
                                                    <option value="">Chọn xã</option>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                                </button>
                                                <button type="button" class="btn btn-primary" id="printRes" data-bs-dismiss="modal">
                                                    Lưu Địa Chỉ
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6" style="margin-top: 40px">
                            <div class="form-group mb-3">
                                <label class="form-label" style="margin-left: 10px">Số Điện Thoại</label>
                                <input class="form-control custom-shadow custom-radius border-1 bg-white"
                                       type="text" placeholder="Nhập Số Điện Thoại Khách Hàng" th:field="*{sdt}"
                                       style="height: 50px">
                                <span th:if="${#fields.hasErrors('sdt')}" style="color: red; font-size: 15px"
                                      th:errors="*{sdt}"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label" style="margin-left: 10px">Giới Tính</label>
                                <div class=" d-flex">
                                    <div class="form-check" style="margin-left: 10px;margin-right: 25px">
                                        <input class="form-check-input" type="radio" name="gioiTinh" th:value="true"
                                               th:field="*{gioiTinh}" checked>
                                        <label class="form-check-label">
                                            Nam
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gioiTinh" th:value="false"
                                               th:field="*{gioiTinh}">
                                        <label class="form-check-label">
                                            Nữ
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label" style="margin-left: 10px">Ngày Sinh</label>
                                <input class="form-control custom-shadow custom-radius border-1 bg-white"
                                       type="date" th:field="*{ngaySinh}"
                                       style="height: 50px">
                                <span th:if="${#fields.hasErrors('ngaySinh')}" style="color: red; font-size: 15px"
                                      th:errors="*{ngaySinh}"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label" style="margin-left: 10px">Email</label>
                                <input class="form-control custom-shadow custom-radius border-1 bg-white"
                                       type="text" placeholder="Nhập Email Khách Hàng" th:field="*{email}"
                                       style="height: 50px">
                                <span th:if="${#fields.hasErrors('email')}" style="color: red; font-size: 15px"
                                      th:errors="*{email}"></span>
                            </div>


                        </div>
                    </div>

                </div>

                <div class="col-1"></div>

            </div>

            <button type="submit" class="btn btn-success" style="margin-left: 550px">Update</button>
        </form>

    </div>
        </div>


</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"></script>
</body>
</html>
