<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragments_layout_admin}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .symbol-circle {
            width: 50px; /* Điều chỉnh kích thước rộng của hình ảnh */
            height: 50px; /* Điều chỉnh kích thước cao của hình ảnh */
            border-radius: 50%;
            overflow: hidden;
        }
        .badge-light-success {
            color: #22ca2c;
            background-color: #e8fff3;
        }
    </style>
</head>

<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-6">
            <li class="nav-item d-none d-md-block">
                <a class="nav-link" href="javascript:void(0)">
                    <nav class="navbar bg-body">
                        <div class="container-fluid">
                            <form class="d-flex" role="search" action="/admin/psg/nhan-vien/searchActive/0"
                                  method="get">
                                <input name="search" class="form-control custom-shadow custom-radius border-0 bg-white"
                                       style="width: 350px;" type="search"
                                       placeholder="Tìm Theo Tên,Số Điện Thoại,Email,Địa Chỉ" aria-label="Search">
                                <button class="btn btn-rounded btn-primary" style="width: 100px" type="submit">Tìm
                                </button>
                            </form>

                        </div>
                    </nav>
                </a>
            </li>
        </div>
        <div class="col-6">
            <li class="nav-item d-none d-md-block">
                <a class="nav-link" href="javascript:void(0)">
                    <nav class="navbar bg-body">
                        <div class="container-fluid">
                            <form class="d-flex" role="search" action="/admin/psg/nhan-vien/searchTuoiMinMax/0"
                                  method="get">
                                <input name="tuoiMin" class="form-control custom-shadow custom-radius border-0 bg-white"
                                       style="width: 150px;" type="search" placeholder="Từ Tuổi" aria-label="Search">
                                <input name="tuoiMax" class="form-control custom-shadow custom-radius border-0 bg-white"
                                       style="width: 150px;" type="search" placeholder="Đến Tuổi" aria-label="Search">
                                <button class="btn btn-rounded btn-primary" style="width: 100px" type="submit">Tìm
                                </button>
                            </form>

                        </div>
                    </nav>
                </a>
            </li>
        </div>


    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-3">Danh Sách</h4>
            <div class="tab-content">
                <div class="tab-pane show active" id="home">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Ảnh̀</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Giới Tính</th>
                            <th scope="col">Ngày Sinh</th>
                            <!--                            <th scope="col">Địa Chỉ</th>-->
                            <th scope="col">Số Điện Thoạỉ</th>
                            <!--                            <th scope="col">Email</th>-->
                            <th scope="col">Trạng Thái</th>
                            <th scope="col">Vai Trò</th>
                            <th scope="col">Hành Động</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="tk,index:${listNhanVienActive}">
                            <td th:text="${index.count}"></td>
                            <td>
                                <div class="symbol symbol-circle overflow-hidden me-3">
                                    <div class="symbol-label">
                                        <img th:src="@{${'/user/psg/trang-chu/display?idAnhNV=' + tk.id}}" style="width: 100%; height: 100%;"/>
                                    </div>
                                </div>
                            </td>
                            <td th:text="${tk.ten}"></td>
                            <td th:text="${tk.gioiTinh==true ? 'Nam':'Nữ'}"></td>
                            <td th:text="${#temporals.format(tk.ngaySinh, 'dd/MM/yyyy')}"></td>
                            <!--                            <td th:text="${tk.diaChi}"></td>-->
                            <td th:text="${tk.sdt}"></td>
                            <!--                            <td th:text="${tk.email}"></td>-->
                            <td>
                                <div class="badge badge-light-success fw-bold">
                                    <span th:text="${tk.trangThai.moTa}"></span>
                                </div>
                            </td>

                            <td th:text="${tk.vaiTro.ten}"></td>
                            <td>
                      <span>
                                      <a th:href="@{/admin/psg/nhan-vien/view-update/{id}(id=${tk.id})}"
                                         class="btn waves-effect waves-light btn-rounded btn-warning"
                                      ><i
                                              data-feather="edit"
                                              class="feather-icon"></i></a>
                                    <form th:action="@{/admin/psg/nhan-vien/delete/{id}(id=${tk.id})}" method="get"
                                          style="display: inline;">
                                    <a th:href="@{/admin/psg/nhan-vien/delete/{id}(id=${tk.id})}">
                                        <button type="submit"
                                                class="btn waves-effect waves-light btn-rounded btn-danger"
                                                onclick="return confirm('Bạn có muốn xóa không')"><i
                                                data-feather="trash-2"
                                                class="feather-icon"></i>
                                        </button>
                                    </a>
                                </form>
                      </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" th:if="${currentPage !=0}">
                                <a class="page-link"
                                   th:href="@{'/admin/psg/nhan-vien/pageActive/'+${ currentPage - 1}}">Previous</a>
                            </li>
                            <li class="page-item" th:each="i: ${#numbers.sequence(1,totalPages)}"
                                th:classappend="${currentPage == i - 1 ? 'active' : ''}">
                                <a class="page-link" th:href="@{'/admin/psg/nhan-vien/pageActive/'+${i - 1}}">
                                    <span th:text="${i}"></span>
                                </a>
                            </li>
                            <li class="page-item" th:if="${currentPage + 1 != totalPages}">
                                <a class="page-link" th:href="@{'/admin/psg/nhan-vien/pageActive/'+${currentPage + 1}}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div> <!-- end card-body-->
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-2">
            <a href="/admin/psg/nhan-vien/view-add" class="btn waves-effect waves-light btn-rounded btn-primary">Thêm
                Nhân Viên</a>
        </div>
        <div class="col-2">
            <a href="/admin/psg/nhan-vien/pageInActive/0" class="btn waves-effect waves-light btn-rounded btn-primary">Không
                Hoạt Động</a>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>