<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragments_layout_admin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .row {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .chia{
             display: flex;
            gap: 30px;
         }

    </style>
    <script>
        function chooseFile(fileInput) {
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image').attr('src', e.target.result);
                };
                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    </script>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center mb-4">Thêm Nhân Viên</h2>


            <form action="/admin/psg/nhan-vien/add" th:object="${nhanVien}" method="post" enctype="multipart/form-data"
                  onsubmit="return confirm('Bạn có thêm không?')">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <img src="https://static.thenounproject.com/png/625182-200.png" alt="" id="image" class="form-control mb-1"
                                         style="width: 250px; height: 150px;margin-left: 100px">
                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"
                                           type="file" name="anhNV1" onchange="chooseFile(this)"
                                           style="height: 40px;width: 250px;margin-left: 100px">
                                    <span th:if="${#fields.hasErrors('anhNV')}" style="color: red; font-size: 15px"
                                          th:errors="*{anhNV}"></span>
                                </div>

                                <div class="form-group mb-3 mt-2">
                                    <label class="form-label" style="margin-left: 10px;font-size: 14px">Vai Trò</label>
                                    <div class="customize-input d-flex">
                                        <select
                                                class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                                style="height: 50px"
                                                th:field="*{vaiTro}"
                                        >
                                            <option th:each="tv : ${vaiTro}" th:value="${tv.id}" th:text="${tv.ten}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" style="margin-left: 10px">Tên</label>
                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"
                                           type="text" placeholder="Nhập tên Nhân Viên" th:field="*{ten}"
                                           style="height: 50px">
                                    <span th:if="${#fields.hasErrors('ten')}" style="color: red; font-size: 15px"
                                          th:errors="*{ten}"></span>
                                </div>

                            </div>
                            <div class="col-6" style="margin-top: 40px">


                                <div class="form-group mb-3">
                                    <label class="form-label" style="margin-left: 10px">Số Điện Thoại</label>
                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"
                                           type="text" placeholder="Nhập tên sản phẩm" th:field="*{sdt}"
                                           style="height: 50px">
                                    <span th:if="${#fields.hasErrors('sdt')}" style="color: red; font-size: 15px"
                                          th:errors="*{sdt}"></span>
                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label" style="margin-left: 10px">Giới Tính</label>
                                    <div class=" d-flex">
                                        <div class="form-check" style="margin-left: 10px;margin-right: 25px">
                                            <input class="form-check-input" type="radio" name="gioiTinh" th:value="true" th:field="*{gioiTinh}" checked>
                                            <label class="form-check-label" >
                                                Nam
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gioiTinh" th:value="false" th:field="*{gioiTinh}">
                                            <label class="form-check-label" >
                                                Nữ
                                            </label>
                                        </div>

                                        <span th:if="${#fields.hasErrors('gioiTinh')}" style="color: red; font-size: 15px"
                                              th:errors="*{gioiTinh}"></span>
                                    </div>

                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label" style="margin-left: 10px">Ngày Sinh</label>
                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"
                                           type="date" th:field="*{ngaySinh}"
                                           style="height: 50px">
                                    <span th:if="${#fields.hasErrors('ngaySinh')}" style="color: red; font-size: 15px"
                                          th:errors="*{ngaySinh}"></span>
                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label" style="margin-left: 10px">Email</label>
                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"
                                           type="text" placeholder="Nhập tên sản phẩm" th:field="*{email}"
                                           style="height: 50px">
                                    <span th:if="${#fields.hasErrors('email')}" style="color: red; font-size: 15px"
                                          th:errors="*{email}"></span>
                                </div>



                            </div>
                        </div>
                        <div class="ngang">
                            <label class="form-label" style="margin-left: 10px">Địa Chỉ</label>                            <div class="form-group chia">


                                <select class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                        style="height: 45px"
                                        name="province" id="province">
                                    <option value="">Chọn tỉnh</option>
                                </select>
                                <br>

                                <select class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                        style="height: 45px"
                                        name="district" id="district">
                                    <option value="">Chọn quận</option>

                                </select>
                                <br>

                                <select class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                        style="height: 45px"
                                        name="ward" id="ward">
                                    <option value="">Chọn phường</option>

                                </select>
                                <input type="hidden" th:field="*{diaChi}" id="provinceInput" readonly>
                                <input type="hidden" th:field="*{diaChi}" id="districtInput" readonly>
                                <input type="hidden" th:field="*{diaChi}" id="wardInput" readonly>

                            </div>
                        </div>
                    </div>

                    <div class="col-1"></div>

                </div>
                <!--                <div class="row">-->
                <!--                    <div class="col-1"></div>-->
                <!--                    <div class="col-10">-->
                <!--                        <div class="row">-->
                <!--                            <div class="col-6">-->
                <!--                                <div class="form-group mb-3">-->

                <!--                                    <img src="" alt="" id="image" class="form-control mb-1" style="width: 250px; height: 150px;margin-left: 100px">-->
                <!--                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"-->
                <!--                                           type="file" name="anhNV" onchange="chooseFile(this)" style="height: 40px;width: 250px;margin-left: 100px">-->
                <!--                                </div>-->


                <!--                                <div class="form-group mb-3 mt-2">-->
                <!--                                    <label class="form-label" style="margin-left: 10px;font-size: 14px">Vai Trò</label>-->
                <!--                                    <div class="customize-input d-flex">-->
                <!--                                        <select-->
                <!--                                                class="custom-select form-control bg-white custom-radius custom-shadow border-1"-->
                <!--                                                style="height: 50px"-->
                <!--                                                th:field="*{vaiTro}"-->
                <!--                                        >-->
                <!--                                            <option th:each="tv : ${vaiTro}" th:value="${tv.id}" th:text="${tv.ten}"></option>-->
                <!--                                        </select>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                                <div class="form-group mb-3">-->
                <!--                                    <label class="form-label" style="margin-left: 10px">Tên</label>-->
                <!--                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"-->
                <!--                                           type="text" placeholder="Nhập tên sản phẩm" th:field="*{ten}"-->
                <!--                                           style="height: 50px">-->
                <!--                                    <span th:if="${#fields.hasErrors('ten')}" style="color: red; font-size: 15px"-->
                <!--                                          th:errors="*{ten}"></span>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                            <div class="col-6">-->
                <!--                                <div class="form-group mb-3">-->
                <!--                                    <label class="form-label" style="margin-left: 10px">Địa Chỉ</label>-->
                <!--                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"-->
                <!--                                           type="text" placeholder="Nhập địa chỉ" th:field="*{diaChi}"-->
                <!--                                           style="height: 50px">-->
                <!--                                    <span th:if="${#fields.hasErrors('diaChi')}" style="color: red; font-size: 15px"-->
                <!--                                          th:errors="*{diaChi}"></span>-->
                <!--                                </div>-->

                <!--                                <div class="form-group mb-3">-->
                <!--                                    <label class="form-label" style="margin-left: 10px">Số Điện Thoại</label>-->
                <!--                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"-->
                <!--                                           type="text" placeholder="Nhập tên sản phẩm" th:field="*{sdt}"-->
                <!--                                           style="height: 50px">-->
                <!--                                    <span th:if="${#fields.hasErrors('sdt')}" style="color: red; font-size: 15px"-->
                <!--                                          th:errors="*{sdt}"></span>-->
                <!--                                </div>-->
                <!--                                <div class="col-6">-->
                <!--                                    <div class="form-group mb-3">-->
                <!--                                    <label class="form-label" style="margin-left: 10px">Giới Tính</label>-->
                <!--                                   <div class=" d-flex">-->
                <!--                                       <div class="form-check" style="margin-left: 10px;margin-right: 25px">-->
                <!--                                           <input class="form-check-input" type="radio" name="gioiTinh" th:value="true" th:field="*{gioiTinh}"   checked>-->
                <!--                                           <label class="form-check-label" >-->
                <!--                                               Nam-->
                <!--                                           </label>-->
                <!--                                       </div>-->
                <!--                                       <div class="form-check">-->
                <!--                                           <input class="form-check-input" type="radio" name="gioiTinh" th:value="false" th:field="*{gioiTinh}">-->
                <!--                                           <label class="form-check-label" >-->
                <!--                                               Nữ-->
                <!--                                           </label>-->
                <!--                                       </div>-->
                <!--                                   </div>-->

                <!--                                    </div>-->
                <!--                                </div>-->

                <!--                                <div class="form-group mb-3">-->
                <!--                                    <label class="form-label" style="margin-left: 10px">Ngày Sinh</label>-->
                <!--                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"-->
                <!--                                           type="date" th:field="*{ngaySinh}"-->
                <!--                                           style="height: 50px">-->
                <!--                                    <span th:if="${#fields.hasErrors('ngaySinh')}" style="color: red; font-size: 15px"-->
                <!--                                          th:errors="*{ngaySinh}"></span>-->
                <!--                                </div>-->

                <!--                                <div class="form-group mb-3">-->
                <!--                                    <label class="form-label" style="margin-left: 10px">Email</label>-->
                <!--                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"-->
                <!--                                           type="text" placeholder="Nhập tên sản phẩm" th:field="*{email}"-->
                <!--                                           style="height: 50px">-->
                <!--                                    <span th:if="${#fields.hasErrors('email')}" style="color: red; font-size: 15px"-->
                <!--                                          th:errors="*{email}"></span>-->
                <!--                                </div>-->

                <!--                                <div class="form-group mb-3">-->
                <!--                                    <label class="form-label" style="margin-left: 10px">Mật Khẩu</label>-->
                <!--                                    <input class="form-control custom-shadow custom-radius border-1 bg-white"-->
                <!--                                           type="password" placeholder="Nhập tên sản phẩm" th:field="*{matKhau}"-->
                <!--                                           style="height: 50px">-->
                <!--                                    <span th:if="${#fields.hasErrors('matKhau')}" style="color: red; font-size: 15px"-->
                <!--                                          th:errors="*{matKhau}"></span>-->
                <!--                                </div>-->

                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->

                <!--                    <div class="col-1"></div>-->
                <!--                </div>-->
                <button type="submit" class="btn btn-success" style="margin-left: 550px">ADD</button>
            </form>
        </div>
        </div>

</div>
</body>
</html>
