<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragments_layout_user}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="layout-row" layout:fragment="content_user">
    <div class="layout-row" data-trk-id="r1">
        <div class="layout-column" data-trk-id="c1">
            <div class="layout-row" data-trk-id="r6">
                <div class="layout-column large-4 medium-6 small-12 page-title" data-trk-id="page-title">
                    <div class="page-title-container">
                        <div class="label page-title-text cart-title">Your Items</div>
                    </div>
                </div>
            </div>
            <div class="layout-row hide-for-large hide-for-medium-only top-payment-buttons" data-trk-id="top-payment-buttons">
                <div class="payment-buttons">
                    <div class="payment-button">
                        <div class="paypal-button-container large-fixed-height gold hoverEffect">
                            <div id="paypal-express-button-527" data-buttonId="paypal-button-cart-horizontal" class="paypal-express-button"></div>
                        </div>
                    </div>
                    <div class="payment-button"><button class="button large-fixed-height checkout-button primary false" data-talos="buttonCheckoutCart" data-trk-id="checkout-button-cart-horizontal"><span class="balance l"></span><span><span class="checkout-button-content"><i class="icon icon-lock" role="presentation"></i>Checkout</span></span><span class="balance r"></span></button></div>
                </div>
            </div>
            <div class="layout-row cart" data-trk-id="cart">
                <div class="cart-container loaded">
                    <div class="cart-row">
                        <div class="cart-left">
                            <div class="row collapse cart-item-container">
                                <div class="row collapse cart-item">
                                    <div class="columns small-3 cart-item-image"><a href="#" data-trk-id="p-13368098-image"><img src="//images.footballfanatics.com/paris-saint-germain/paris-saint-germain-nike-home-stadium-shirt-2023-24_ss4_p-13368098+u-19sh7rxsw0vez1n7vbgy+v-6716e5b0016d48c0ad4c0e0f359059c4.jpg?_hv=2&amp;w=180" alt="Paris Saint-Germain Nike Home Stadium Shirt 2023-24"/></a></div>
                                    <div
                                            class="columns small-8 item-details">
                                        <div class="row item-row">
                                            <div class="columns large-9 medium-9 small-9 p-l-none prod-description">
                                                <div class="row collapse">
                                                    <div class="m-b-xl"><span class=""><a href="#" data-trk-id="cart-product-p-13368098" data-talos="linkProductCart" class="color-black">Paris Saint-Germain Nike Home Stadium Shirt 2023-24</a></span></div>
                                                </div>
                                                <div class="row collapse mobile cart-item-price-container">
                                                    <div class="cart-item-price set-right">
                                                        <div class="price-card" tabindex="0">
                                                            <div class="superscript">
                                                                <div class="price-row"><span class="lowest"><span class="price"><span class="money-value"><span class="sr-only">€1,139.88</span><span aria-hidden="true"><sup>€</sup><span>1,139</span><sup>88</sup></span>
                                                                    </span><span class="suffix nodiscountpricetext"></span></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div><span class="footnote color-grey-medium unit-price"> each €94.99</span></div>
                                                </div>
                                                <div class="row field-row collapse dropdowns">
                                                    <div class="small-6 column">
                                                        <div>
                                                            <div class="field-wrapper drop-down cart-drop-down">
                                                                <div tabindex="0" aria-label="Size" alt="Size" role="button" aria-haspopup="listbox" aria-expanded="false" data-talos="dropdownSizeCart" class="field-wrapper-item label-up"><span class="field-wrapper-input-label" aria-hidden="true">Size</span>
                                                                    <div class="field-wrapper-children"><input type="hidden" name="size" value="39718097" />
                                                                        <div class="drop-down-selected" data-talos="dropdownSizeCart" aria-hidden="true">
                                                                            <div class="rendered-item" data-talos="labelSizeCart">S</div><i class="icon icon-drop-down" role="presentation"></i></div><span></span>
                                                                        <div class="select-wrapper"><label class="label-size" for="size">size</label><select name="size" class="hidden" tabindex="-1"><option selected="" value="39718097">S</option><option value="39717873">M</option><option value="39717850">L</option><option value="39718089">XL</option><option value="39718004">2XL</option></select></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="small-6 column">
                                                        <div class="field-wrapper text-field cart-drop-down">
                                                            <div class="field-wrapper-item label-up"><label for="field-339" class="field-wrapper-input-label">Quantity</label>
                                                                <div class="field-wrapper-children"><input type="number" min="1" max="2258" value="12" tabindex="0" aria-invalid="false" aria-describedby="errorQuantity" id="field-339" class="text-field-input" /></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row collapse prod-description-messages">
                                                    <div class="body-1 item-transit-message  p-b-lg" tabindex="0">This item ships within 3 business days.</div>
                                                </div>
                                            </div>
                                            <div class="columns large-3 medium-3 small-3 p-a-none cart-item-price-container">
                                                <div class="cart-item-price set-right">
                                                    <div class="price-card" tabindex="0">
                                                        <div class="superscript">
                                                            <div class="price-row"><span class="lowest"><span class="price"><span class="money-value"><span class="sr-only">€1,139.88</span><span aria-hidden="true"><sup>€</sup><span>1,139</span><sup>88</sup></span>
                                                                </span><span class="suffix nodiscountpricetext"></span></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div><span class="footnote color-grey-medium unit-price"> each €94.99</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="remove-icon"><button class="hidden large primary false" aria-label="Remove Item" aria-live="polite" data-trk-id="cart-item-remove"><span class="balance l"></span><span><i data-talos="buttonRemoveItem" class="icon icon-close" role="presentation"></i></span><span class="balance r"></span></button></div>
                                </div>
                                <div class="row collapse cart-item">
                                    <div class="columns small-3 cart-item-image"><a href="#" data-trk-id="p-13368098-image"><img src="//images.footballfanatics.com/paris-saint-germain/paris-saint-germain-nike-home-stadium-shirt-2023-24_ss4_p-13368098+u-19sh7rxsw0vez1n7vbgy+v-6716e5b0016d48c0ad4c0e0f359059c4.jpg?_hv=2&amp;w=180" alt="Paris Saint-Germain Nike Home Stadium Shirt 2023-24"/></a></div>
                                    <div
                                            class="columns small-8 item-details">
                                        <div class="row item-row">
                                            <div class="columns large-9 medium-9 small-9 p-l-none prod-description">
                                                <div class="row collapse">
                                                    <div class="m-b-xl"><span class=""><a href="#" data-trk-id="cart-product-p-13368098" data-talos="linkProductCart" class="color-black">Paris Saint-Germain Nike Home Stadium Shirt 2023-24</a></span></div>
                                                </div>
                                                <div class="row collapse mobile cart-item-price-container">
                                                    <div class="cart-item-price set-right">
                                                        <div class="price-card" tabindex="0">
                                                            <div class="superscript">
                                                                <div class="price-row"><span class="lowest"><span class="price"><span class="money-value"><span class="sr-only">€94.99</span><span aria-hidden="true"><sup>€</sup><span>94</span><sup>99</sup></span>
                                                                </span><span class="suffix nodiscountpricetext"></span></span>
                                                                </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row field-row collapse dropdowns">
                                                    <div class="small-6 column">
                                                        <div>
                                                            <div class="field-wrapper drop-down cart-drop-down">
                                                                <div tabindex="0" aria-label="Size" alt="Size" role="button" aria-haspopup="listbox" aria-expanded="false" data-talos="dropdownSizeCart" class="field-wrapper-item label-up"><span class="field-wrapper-input-label" aria-hidden="true">Size</span>
                                                                    <div class="field-wrapper-children"><input type="hidden" name="size" value="39717873" />
                                                                        <div class="drop-down-selected" data-talos="dropdownSizeCart" aria-hidden="true">
                                                                            <div class="rendered-item" data-talos="labelSizeCart">M</div><i class="icon icon-drop-down" role="presentation"></i></div><span></span>
                                                                        <div class="select-wrapper"><label class="label-size" for="size">size</label><select name="size" id="size" class="hidden" tabindex="-1"><option value="39718097">S</option><option selected="" value="39717873">M</option><option value="39717850">L</option><option value="39718089">XL</option><option value="39718004">2XL</option></select></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="small-6 column">
                                                        <div class="field-wrapper drop-down cart-drop-down more-item-separator">
                                                            <div tabindex="0" aria-label="Quantity" alt="Quantity" role="button" aria-haspopup="listbox" aria-expanded="false" data-talos="dropdownProductQuantity" class="field-wrapper-item label-up"><span class="field-wrapper-input-label" aria-hidden="true">Quantity</span>
                                                                <div class="field-wrapper-children"><input type="hidden" name="quantity" data-talos="labelFieldWrapperInput" value="1" />
                                                                    <div class="drop-down-selected" data-talos="dropdownProductQuantity" aria-hidden="true">1<i class="icon icon-drop-down" role="presentation"></i></div><span></span>
                                                                    <div class="select-wrapper"><label class="label-quantity" for="quantity">quantity</label><select name="quantity" id="quantity" class="hidden" tabindex="-1"><option selected="" value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10+</option></select></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row collapse prod-description-messages">
                                                    <div class="body-1 item-transit-message  p-b-lg" tabindex="0">This item ships within 3 business days.</div>
                                                </div>
                                            </div>
                                            <div class="columns large-3 medium-3 small-3 p-a-none cart-item-price-container">
                                                <div class="cart-item-price set-right">
                                                    <div class="price-card" tabindex="0">
                                                        <div class="superscript">
                                                            <div class="price-row"><span class="lowest"><span class="price"><span class="money-value"><span class="sr-only">€94.99</span><span aria-hidden="true"><sup>€</sup><span>94</span><sup>99</sup></span>
                                                            </span><span class="suffix nodiscountpricetext"></span></span>
                                                            </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="remove-icon"><button class="hidden large primary false" aria-label="Remove Item" aria-live="polite" data-trk-id="cart-item-remove"><span class="balance l"></span><span><i data-talos="buttonRemoveItem" class="icon icon-close" role="presentation"></i></span><span class="balance r"></span></button></div>
                                </div>
                            </div>
                        </div>
                        <div class="cart-right">
                            <div class="checkout-container">
                                <div class="coupon-giftcard-container show-for-small-only">
                                    <div class="description-box coupon-container collapsible collapsed" role="region">
                                        <div class="description-box-title" aria-expanded="false" tabindex="0" role="button">
                                            <div class="description-box-title-content  color-black">Have a Coupon?</div><i class="icon icon-plus" role="presentation"></i></div>
                                        <div class="description-box-content">
                                            <div class="m-t-lg m-b-lg">
                                                <form action="javascript:void(0);" class="coupon-entry" method="post">
                                                    <div class="coupon-entry-number">
                                                        <div class="field-wrapper text-field sub-text-color-gray customer-input-color-black">
                                                            <div class="field-wrapper-item"><label for="coupon-code-mobile" class="field-wrapper-input-label">Coupon (Limit 1)</label>
                                                                <div class="field-wrapper-children"><input type="text" name="coupon-code-mobile" value="" aria-invalid="false" aria-describedby="errorCoupon(Limit1)" id="coupon-code-mobile" class="text-field-input" data-talos="textCoupon" /></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="coupon-entry-apply"><button class="button large apply-button-color-black secondary false" data-talos="buttonCouponApply" type="submit" data-trk-id="apply-coupon"><span class="balance l"></span><span>Apply</span><span class="balance r"></span></button></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="coupon-giftcard-container show-for-medium">
                                    <div class="description-box coupon-container collapsible collapsed" role="region">
                                        <div class="description-box-title" aria-expanded="false" tabindex="0" role="button">
                                            <div class="description-box-title-content  color-black">Have a Coupon?</div><i class="icon icon-plus" role="presentation"></i></div>
                                        <div class="description-box-content">
                                            <div class="m-t-lg m-b-lg">
                                                <form action="javascript:void(0);" class="coupon-entry" method="post">
                                                    <div class="coupon-entry-number">
                                                        <div class="field-wrapper text-field sub-text-color-gray customer-input-color-black">
                                                            <div class="field-wrapper-item"><label for="coupon-code-medium" class="field-wrapper-input-label">Coupon (Limit 1)</label>
                                                                <div class="field-wrapper-children"><input type="text" name="coupon-code-medium" value="" aria-invalid="false" aria-describedby="errorCoupon(Limit1)" id="coupon-code-medium" class="text-field-input" data-talos="textCoupon" /></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="coupon-entry-apply"><button class="button large apply-button-color-black secondary false" data-talos="buttonCouponApply" type="submit" data-trk-id="apply-coupon"><span class="balance l"></span><span>Apply</span><span class="balance r"></span></button></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout-container-bottom">
                                    <div class="order-summary-container">
                                        <div tabindex="0">
                                            <div class="m-b-sm body-1 line-item total-line">
                                                <div class="shipping-title undefined" data-talos="labelShippingOptionName">Cart Total</div>
                                                <div><span class="shipping-val">€1,234.87</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-t-lg show-for-small-only"></div>
                                    <div class="checkout-payment-buttons-vertical"><button class="button large checkout-button primary false" data-talos="buttonCheckoutCart" data-trk-id="checkout-button-cart-vertical"><span class="balance l"></span><span><span class="checkout-button-content"><i class="icon icon-lock" role="presentation"></i>Checkout</span></span><span class="balance r"></span></button>
                                        <div
                                                class="paypal-button-container large gold hoverEffect">
                                            <div id="paypal-express-button-526" data-buttonId="paypal-button-cart-vertical" class="paypal-express-button"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="continue-shopping-wrapper">
                                    <div class="continue-shopping-link"><a href="#" data-trk-id="continue-shopping-link"><span>CONTINUE SHOPPING</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="show-for-small-only m-a-xl"></div>
                </div>
            </div>
            <div class="layout-row cart-style-overwrapper" data-trk-id="CART_RECOMMENDATIONS_2">
                <div class="pl-dynamic-carousel">
                    <div class="carousel">
                        <div class="carousel-header-black-strip">
                            <h4 class="carousel-title">Frequently Bought Together</h4>
                        </div>
                        <div class="carousel-list-container">
                            <div class="base-carousel-container show-arrows-desktop">
                                <div class="base-carousel">
                                    <div class="carousel-list">
                                        <div class="carousel-item">
                                            <div class="product-card row carousel-product-card">
                                                <div class="carousel-product-image">
                                                    <div class="card-image-container">
                                                        <div class="product-image-container"><a href="#" data-trk-id="p-13368118" class="color-black" tabindex="-1"
                                                                                                aria-hidden="true"><img src="//images.footballfanatics.com/paris-saint-germain/paris-saint-germain-nike-home-stadium-socks-2023-24-navy_ss4_p-13368118+u-3zxtpheuwpxoivp2wb3n+v-1fa8077b5e6045fe82ddb42529e38447.jpg?_hv=2&amp;w=340" alt="Paris Saint-Germain Nike Home Stadium Socks - 2023-24 - Navy" class="product-image stateful-image" height="340" width="340" data-talos="imageSearchResult" loading="auto"/></a></div>
                                                    </div>
                                                    <div class="product-card-colors hide-for-small-only"></div>
                                                </div>
                                                <div class="carousel-product-info">
                                                    <div class="">
                                                        <div class="price-card" tabindex="0" data-talos="srpProductPrice">
                                                            <div class="superscript">
                                                                <div class="price-row"><span class="lowest"><span class="price"><span class="money-value"><span class="sr-only">€19.99</span><span aria-hidden="true"><sup>€</sup><span>19</span><sup>99</sup></span>
                                                                    </span><span class="suffix nodiscountpricetext"></span></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="spacing"></div>
                                                    <div class="product-card-title"><a href="#" data-trk-id="p-13368118" data-talos="linkSearchResult"
                                                                                       class="color-black" title="Paris Saint-Germain Nike Home Stadium Socks - 2023-24 - Navy">Paris Saint-Germain Nike Home Stadium Socks - 2023-24 - Navy</a></div>
                                                    <div class="product-card-colors show-for-small-only"></div>
                                                    <div>
                                                        <div class="fast-delivery hide-component"><svg class="fast-delivery-icon svg-hyperspeed"><title id=></title><use xlink:href='#hyperspeed'></use></svg>
                                                            <div class="fast-delivery-message-container">
                                                                <div class="fast-delivery-message"><span class="estimated-delivery-text">Arrives by Sunday, June 18</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>