<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragments_layout_admin}"
>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .voucher {
            width: 100%;
        }

        .form-voucher {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }

        .list-form-voucher {
            width: calc(100% / 3);
        }

    </style>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1 style="text-align: center">THÊM VOUCHER</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-3"></div>
        <div class="voucher">
            <form action="/admin/psg/voucher-thu-hang/add" th:object="${voucherThuHang}" method="post"
                  onsubmit="return  confirm('Bạn có thêm không?')">

                <div class="form-voucher">
                    <div class="list-form-voucher">
                        <div class="form-group mb-3">
                            <label>Tên Voucher</label>
                            <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                   type="text" placeholder="Nhập số gia tri" th:field="*{ten}" style="height: 50px">
                            <span th:if="${#fields.hasErrors('ten')}" style="color: red; font-size: 13px"
                                  th:errors="*{ten}"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label>Số Tiền Giảm</label>
                            <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                   type="text" placeholder="Nhập số tiền giảm" th:field="*{soTienGiam}"
                                   style="height: 50px">
                            <span th:if="${#fields.hasErrors('soTienGiam')}" style="color: red; font-size: 13px"
                                  th:errors="*{soTienGiam}"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label>Ngày Bắt Đầu</label>
                            <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                   type="datetime-local" th:field="*{ngayBatDau}" style="height: 50px">
                            <span th:if="${#fields.hasErrors('ngayBatDau')}" style="color: red; font-size: 13px"
                                  th:errors="*{ngayBatDau}"></span>
                            <th:block th:if="${error}">
                                <div class="alert alert-danger" th:text="${error}"></div>
                            </th:block>
                        </div>
                    </div>
                    <div class="list-form-voucher">

                        <div class="form-group mb-3">
                            <label>Ngày Kết Thúc</label>
                            <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                   type="datetime-local" th:field="*{ngayKetThuc}" style="height: 50px">
                            <span th:if="${#fields.hasErrors('ngayKetThuc')}" style="color: red; font-size: 13px"
                                  th:errors="*{ngayKetThuc}"></span>
                            <th:block th:if="${error}">
                                <div class="alert alert-danger" th:text="${error}"></div>
                            </th:block>
                        </div>
                        <div class="form-group mb-3">
                            <label>Giá Trị Đơn Hàng Tối Thiểu</label>
                            <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                   type="text" placeholder="Đơn Hàng Từ" th:field="*{giaTriDonHangToiThieu}"
                                   style="height: 50px">
                            <span th:if="${#fields.hasErrors('giaTriDonHangToiThieu')}"
                                  style="color: red; font-size: 13px"
                                  th:errors="*{giaTriDonHangToiThieu}"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label>Mô Tả</label>
                            <textarea class="form-control custom-shadow custom-radius border-0 bg-white"
                                      th:field="*{moTa}" placeholder="Mô tả" style="height: 100px"></textarea>
                            <span th:if="${#fields.hasErrors('moTa')}" style="color: red; font-size: 13px"
                                  th:errors="*{moTa}"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3 text-center">
                    <a href="/admin/psg/voucher-thu-hang/hien-thi"
                       class="btn waves-effect waves-light btn-rounded btn-primary">Quay lại</a>
                    <button class="btn btn-rounded btn-primary" type="submit">Thêm</button>
                </div>

            </form>

        </div>
        <div class="col-3"></div>
    </div>
</div>
</body>
</html>